name: checks

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.ipynb'
      - 'misc/**'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.ipynb'
      - 'misc/**'
      - 'LICENSE'
  schedule:
    - cron:  '13 7 * * 2'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    strategy:
      matrix:
        python-version: ["3.10", "3.x"]
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/ruff-action@v3
      with:
        src: "./src"
        version: "latest"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
    - name: Test
      run: pytest --doctest-modules --pyargs acem

  results:
    runs-on: ubuntu-latest
    name: Final Results
    needs: [checks]
    if: always()
    steps:
      - run: exit 1
        # see https://stackoverflow.com/a/67532120/4907315
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
          }}
